@import 'section-user-card.css';

/* xs: 0,
sm: 576px,
md: 768px,
lg: 992px,
xl: 1200px,
xxl: 1400px */
:root {
    font-size: 20px;
    
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
